.song-card {
    -fx-background-radius: 30px;
    -fx-border-color: #ffcdd8;
    -fx-border-width: 1;
    -fx-border-radius: 30px;
    -fx-background-color: linear-gradient(to bottom, #ffffff 0%, #fff9fa 100%);
    -fx-margin: 5px;
}

.song-title {
    -fx-font-size: 14px;
    -fx-font-weight: 800;
    -fx-text-fill: #2d2d2d;
}

.artist-name {
    -fx-font-size: 8px;
    -fx-font-weight: 500;
    -fx-text-fill: #666666;
}

.play-button {
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-background-color: linear-gradient(to bottom, #ffcdd8 0%, #ffb6c1 100%);
    -fx-min-width: 30px;
    -fx-min-height: 30px;
    -fx-max-width: 30px;
    -fx-max-height: 30px;
}

.play-icon {
    -fx-icon-color: #ffffff;
    -fx-icon-size: 15px;
}

.play-button:hover {
    -fx-background-color: #ffb6c1;
}

.play-button:pressed {
    -fx-background-color: #ff9eaf;
}